div{
    height: 100px;
    height: 100vh;
    background: url("anime-style-mythical-dragon-creature_23-2151112776.jpg");
    background-repeat: no-repeat;
    border: 3px solid;
    background-position: center;
    background-attachment: fixed;

background-size: 100%;
}
